<%= form_with(model: mining) do |form| %>
  <% if mining.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mining.errors.count, "error") %> prohibited this mining from being saved:</h2>

      <ul>
        <% mining.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t'coin.name' %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label t'coin.acronym' %>
    <%= form.text_field :acronym %>
  </div>

  <div class="actions">
    <%= form.submit t"coin.save" %>
  </div>
<% end %>
