<div class="w-100 d-flex flex-column justify-content-between align-items-center">
<%= form_with(model: mining) do |form| %>
  <div class="my-2 w-100 d-flex flex-column">
    <%= form.label t'coin.name' %>
    <%= form.text_field :description %>
  </div>

  <div class="my-2 w-100 d-flex flex-column">
    <%= form.label t'coin.acronym' %>
    <%= form.text_field :acronym %>
  </div>

  <div class="my-4 w-100 d-flex flex-column">
    <%= form.submit (t"coin.save"), class:'btn btn-primary' %>
  </div>
<% end %>
</div>
