<div class="mt-5 container d-flex justify-content-between">
  <h1 class="h4"><%= "#{Mining.model_name.human}" %></h1>
  <%= link_to new_mining_path do %>
    <button class="btn btn-dark"><%= t'coin.new_mining' %></button>
  <% end %>
</div>
<table class="mt-2 container table shadow table-striped table-hover border rounded shadow">
  <thead>
    <tr>
      <th><%= t'coin.name' %></th>
      <th><%= t'coin.acronym' %></th>
      <th class="text-end"><%= t'coin.option' %></th>
    </tr>
  </thead>

  <tbody>
    <% @minings.each do |mining| %>
      <tr>
        <td><%= mining.description %></td>
        <td><%= mining.acronym %></td>
        <td><%= link_to (t'links.show'), mining, class:'btn btn-primary' %></td>
        <td><%= link_to (t'links.edit'), edit_mining_path(mining), class:'btn btn-warning' %></td>
        <td><%= link_to (t'links.delete'), mining, method: :delete, class:'btn btn-danger', data: { confirm: (t'message.special_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
