<p id="notice"><%= notice %></p>

<h1><%= t'minings' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t'coin.name' %></th>
      <th><%= t'coin.acronym' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minings.each do |mining| %>
      <tr>
        <td><%= mining.description %></td>
        <td><%= mining.acronym %></td>
        <td><%= link_to 'Show', mining %></td>
        <td><%= link_to 'Edit', edit_mining_path(mining) %></td>
        <td><%= link_to 'Destroy', mining, method: :delete, data: { confirm: (t'message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to (t'coin.new_mining'), new_mining_path %>
