<div class="mt-5 bg-light container text-center">
  <p>
    <strong><%= t'coin.name' %></strong>
    <%= @mining.description %>
  </p>
  <p>
    <strong><%= t'coin.acronym' %></strong>
    <%= @mining.acronym %>
  </p>
  <%= link_to (t'links.edit'), edit_mining_path(@mining) %> |
  <%= link_to (t'links.back'), minings_path %>
</div>