<div class="my-4 container-fluid d-flex justify-content-around m-2 text-danger opacity-50">
  <span class="small"> <%= where_am_i %> </span>
</div>
<div class="container col-lg-7 col-md-10 col-sm-12 bg-light p-4 mt-4">
  <h2><%= t'header1'%></h2>
  <p><%= t'p_header' %></p>
  <h3><%= t'header2' %></h3>
  <p><%= t'p_1' %></p>
  <p><%= t'p_2' %></p>
  <p><%= t'p_3' %></p>
  <p><%= t'p_4' %></p>
  <h3><%= t'header3' %></h3>
  <p><%= t'p_5' %></p>
</div>
