<!DOCTYPE html>
<html>
<head>
  <title><%= t'title' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path("hive-brands.svg"), class: 'color-icon' %>
</head>

<body>
<header class="d-flex justify-content-around align-items-center text-center bg-light shadow">
  <%= link_to t('home'),root_path %>
  <h1 class="h4 d-lg-block d-md-block d-none"><%= t'greet' %></h1>
  <ul class="d-flex justify-content-between">
    <li class="d-flex align-items-center mt-3">
      <%= link_to coins_url do %>
        <button class="btn btn-dark "><%= t'coins' %></button>
      <% end %>
    </li>
  </ul>
  <% if I18n.locale == :en %>
    <%#= link_to '/?locale=en' do %> <!-- or -->
    <%= link_to root_path(locale: 'pt-BR') do %>
      Português
      <%= fa_icon('language') %>
    <% end %>
  <% else %>
    <%= link_to root_path(locale: 'en') do %>
      English
      <%= fa_icon('language') %>
    <% end %>
  <% end %>
</header>
  <%= render 'shared/alerts' %>
  <%= yield %>
</body>
</html>