<%= form_with(model: coin, local: true) do |f| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, (t"error")) %> <%= t'forbiden' %> </h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message (t'blank') %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-100 d-flex flex-column justify-content-between align-items-center">
    <div class="my-2 w-100 d-flex flex-column">
      <%= f.text_field :coin_name, class: 'rounded', placeholder:'Crypto ex: Bitcoin' %>
    </div>

    <div class="my-2 w-100 d-flex flex-column">
      <%= f.text_field :acronym, class: 'rounded', placeholder:'Acronym ex: BTC' %>
    </div>

    <div class="my-2 w-100 d-flex flex-column">
      <%= f.text_field :url_image, class: 'rounded', placeholder:'url image ex: https://example.google.coin-4720.png' %>
    </div>

    <div class="my-2 w-100 d-flex flex-column">
      <%= f.label t'coin.mining_type' %>
      <%= f.select "mining_id", @mining_type, include_blank:(t'coin.select') %>
    </div>

    <div class="my-4 w-100 d-flex flex-column">
      <%= f.submit (t'coin.save'), class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
