<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="">
    <%= form.text_field :description, class: 'rounded', placeholder:'Crypto ex: Bitcoin' %>
  </div>

  <div class="">
    <%= form.text_field :acromym, class: 'rounded', placeholder:'Acronym ex: BTC' %>
  </div>

  <div class="w-100">
    <%= form.text_field :url_image, class: 'rounded', placeholder:'url image ex: https://example.google.coin-4720.png' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
