<div class="h4 mt-5 p-2 container border d-flex justify-content-between">
  <%= link_to "#{Mining.model_name.human(count: 2)}", minings_path, class:'btn btn-dark' %>
  <%= link_to new_coin_path do %>
    <button class="btn btn-dark "><%= t'coin.new_coin' %></button>
  <% end %>
</div>
<table class="container table shadow table-striped table-hover border rounded shadow">
  <thead>
  <tr>
    <th><%= t('coin.name') %></th>
    <th><%= t'coin.acronym' %></th>
    <th><%= t'coin.image' %></th>
    <th class="text-center"><%= t'coin.option' %></th>
  </tr>
  </thead>

  <tbody>
  <% @coins.each do |c| %>
    <tr>
      <td><%= c.coin_name %></td>
      <td><%= c.acronym %></td>
      <td><%= image_tag c.url_image, size:'35x35' %></td>
      <td class="d-flex justify-content-around">
        <%= link_to fa_icon('eye'), c, class:'btn bg-primary' %>
        <%= link_to fa_icon('edit'), edit_coin_path(c), class:'btn bg-warning' %>
        <%= link_to fa_icon('trash'), c, method: :delete, data: { confirm: (t'message.confirm') }, class:'btn bg-danger' %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
