
<div class="mt-5 container text-center">
  <p>
    <strong><%= t'coin.name' %>:</strong>
    <%= @coin.coin_name %>
  </p>
  <p>
    <strong><%= t'coin.acronym' %>:</strong>
    <%= @coin.acronym %>
  </p>
  <div>
    <%= image_tag @coin.url_image, size:'50x50' %>
  </div>
  <div class="m-2 h5 ">
    <p class="small text-primary"><%= t'coin.mining_type' %></p>
    <p class="text-primary"><%= @mining %></p>
  </div>
  
  <%= link_to (t('links.edit')), edit_coin_path(@coin), class:'bg-primary text-white p-2 text-center rounded shadow' %>
  <%= link_to (t'links.back'), coins_path, class:'bg-primary text-white p-2 text-center rounded shadow' %>
</div>
