<p id="notice"><%= notice %></p>

<p>
  <strong>Coin name:</strong>
  <%= @coin.coin_name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @coin.acronym %>
</p>
<div>
  <%= image_tag @coin.url_image, size:'60x60' %>
</div>
<div class=" m-2 h5 text-primary">
  <%= @mining %>
</div>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
